# Virtual environment
venv/

# Data (датасет тяжёлый, не пушим)
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Environment variables
.env

# Model weights (тяжёлые файлы)
*.pth
*.pt
*.ckpt

# Models folder
models/

# Jupyter
*.ipynb_checkpoints